.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.list li{
    margin: 10px 15px;
    border-bottom: solid 1px black;
    transition: all 0.7s;
}
.list li a{
    cursor:context-menu
}
.list li:hover{
    transform: scale(1.2);
    margin:10px 25px
}

@media screen and (min-width:40em) and (max-width:63.9em){

}
@media screen and (min-width:64em) {
    .list li a{
        cursor: pointer;
    }
}
